* {
    
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Open Sans Condensed", sans-serif;
        
      
} 
#my_image {
    position: static; 
    width: 100%; /* for IE 6 */
    pointer-events: none;
    
}
#text{
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 6em;
    position: absolute; 
    pointer-events: none;
    margin: auto;
    padding: auto;
} 

#demo {
    margin: auto;
    top: 75%;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 5em;
    position: absolute; 
    pointer-events: none;
 
}